<!-- we want to use the 'author' variable (schema) for display here, capture it via a form  -->
<h2 class="page-header">Please enter new event...</h2>

<!-- using multer (multipart form) telling the server that our form might be sending a 
multipart data which may include a 'file' -->
<form action="/books" method="POST"> 
<!-- to use multer, inc in the form tag : enctype="multipart/form-data"> -->

    <!-- NOTE: we will not use the 'input' bar to add into the form, however we will 
    use a 'partial' since it can be reused both in the 'add' and 'edit' form field -->
    <%- include ('_form_fields') %>

    <!-- this 'cancel' button redirects user back to the 'all authors' page -->
    <a href="/books">Cancel</a> 

    <button type="submit">Create</button>
    <!-- this 'submit' button sends the entered data to the 'POST' of routes>author -->

</form>