<!-- 'partials' are ejs template files (NOT ROUTES!) which are basically 
    smaller portions of an app that allows it to be reused 
    at different app so that your codes do not need to be duplicated 
    all over the place...ie: like a button on a header that acn be deployed elsewhere-->


<header>
  <nav>
    <a href="/">Main page</a>
    <ul>
        <li><a href="/authors">List of Homeschools</a></li>
        <li><a href="/authors/new">Add new Homeschool</a></li>
        <li><a href="/books">List of events</a></li>
        <li><a href="/books/new">Add new event</a></li>
    </ul>
  </nav>
</header>