<!-- This views/layouts/layout.ejs file is a template MASTER that allows
format duplication. the %- sign below marks the section where the content
of each different page will sit (eg: views/layouts/index.ejs ....and this
file may simply contain pure text without any HTML formatting!)-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JauwharII</title>
</head>
<body>
    HEADER
    <br>
    <%-body%>
    <br>
    FOOTER 
</body>
</html>