<h2>Recently Added</h2>
<div>
    <% books.forEach(book => { %>
        <img height="150" width="100" src="<%= book.coverImagePath %>"> 
        <div><%= author.name %></div>
    <% }) %>
    </div>

//(BODY SECTION: Introduction on the blog)