<!-- this is a partial file but it is not stored in the partial folder as a generic 
partial file, because it is used and reused exclusively in the 'authors' route only -->

<!-- in naming the ejs file, we used an underscore '_' to distinguish between 
    a partial and a direct-link server file -->

<label>Name</label>
<input type="text" name="name" value="<%= author.name %>">